<div class="main-container">
    <div class="row">
        <div class="col row__confirm">
            <span class="row__confirm__text"> There is something wrong</span>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <p class="text-danger text-center">This Email already exist</p>
        </div>
    </div>
    <div class="row">
        <div class="col ">
            <button routerLink="/travel-form" class="button-submit">Go to main page</button>
        </div>
    </div>
    
</div>